@import url('https://fonts.googleapis.com/css?family=Trirong');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');


body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Trirong", serif;
  font-size: 1.1rem;
}

.App {
  min-height: 100vh;
}
h2{
  font-size: 2.5rem;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  max-width: 100%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 800;
  flex-shrink: 0;
}

.navbar ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex: 1;
}

.navbar ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.navbar ul li a:hover {
  color: #6a6a6a;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.hero {
  color: white;
  display: flex;
  max-height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  background-color: transparent;
}


.hero-content {
  position: relative;
  z-index: 2;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
  object-fit: cover;
  /* keeps aspect ratio, crops excess */
  object-position: center;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #000000;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  margin-top: 1rem;
  border-radius: 20px;
  transition: background 0.3s ease;
}

.btn:hover {
  background: rgb(9, 2, 42);
}

.icon-carousel {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0;
  position: relative;
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.icon-track {
  display: flex;
  gap: 50px;
  animation: scroll 15s linear infinite;
}

.icon-wrapper img {
  height: 30px;
  width: 30px;
  object-fit: contain;
  background-color: rgba(10, 0, 118, 0.316);
  /* Semi-transparent background */
  padding: 16px;
  border-radius: 50%;
}

.icon-wrapper {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

section {
  padding: 4rem 0;
  color: white;
  position: relative;
  min-height: 70vh;
}

section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

section .container {
  position: relative;
  z-index: 1;
}

section h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.about p {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}


.project-list {
  display: grid;
  justify-content: center;
  gap: 2rem;
}

.project-card.modern-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(20, 20, 30, 0.34);
  border-radius: 15px;
  padding: 50px;
  max-width: 1000px;
  border: 1px solid rgba(255, 255, 255, 0.186);
}

.card-left {
  flex: 1;
  padding-right: 20px;
}

.card-left h3 {
  font-size: 2rem;
}

.card-left p {
  font-size: 1rem;
  line-height: 2;
}

.case-study-btn {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.186);
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.case-study-btn:hover {
  background: rgba(255, 255, 255, 0.177);
  color: black;
}

.card-right {
  flex: 1;
  text-align: center;
}

.card-image {
  width: 100%;
  max-height: 250px;
  border-radius: 10px;
  margin-bottom: 20px;
  object-fit: cover;
  /* keeps aspect ratio, crops excess */
  object-position: center;
}

.experience {
  max-width: 900px;
  margin: 50px auto;
}

.experience h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.experience-item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  
}
.role{
  font-size: 1.5rem;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 15px;
  padding:2rem;
  border: 1px solid rgba(255, 255, 255, 0.186);
}

.contact input,
.contact textarea {
  padding: 1rem;
  margin: 5px 0px ;
  border: none;
  max-width: 680px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  backdrop-filter: blur(10px);
}

.contact input::placeholder,
.contact textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.contact button {
  padding: 0.75rem 1.5rem;
  background: #090a46;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.contact button:hover {
  background: #160066;
}

.footer {
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer .social-icons {
  margin-top: 10px;
}

.footer .social-icons a {
  color: white;
  font-size: 2rem;
  margin: 0px 20px;
  transition: color 0.3s ease;
}

.footer .social-icons a:hover {
  color: #777777af;
  /* Change to your preferred hover color */
}


.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}


.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in-up.visible {
  opacity: 1;
  transform: translateY(0);
}


